// Paths 
$path-img: "/assets/img";

// Layout 
$content_width: 643px; 
$content_wide: 90%; 
$table_hight: 420px; 

// Viewports 
$tablet_width: 768px;
$mobile_width: 480px;

// Colors 
$color_text: #74828B;
$color_header: #667782; 

$bg_content: #f7fcff; 
$bg_footer: #EBE7E2;

$blue: #7EBAE0;  // form inputs, table headeer, ads
$green: #9AE02C;
$white: #fff;
$grey: #F0EEEF;
$grey_light: #f7fbfd;
$grey_dark: #D3D3D3;
$orange: #FFA64C;


